.panel {
  border-radius:0px;
  border:0px;
  box-shadow:0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.12);
}

.btn.btn-default.white-btn {
  border-color:#1e1e1e;
  color:#1e1e1e;
}

.btn.btn-default.white-btn:hover {
  background-color:#1e1e1e;
  color:#fff;
}

.btn {
  padding:10px 12px;
}

.btn.btn-default {
  color:#eee;
  font-weight:600;
  text-shadow:none;
  letter-spacing:1px;
  text-transform:uppercase;
  font-size:16px;
  font-weight:500;
  border:2px solid white;
  border-radius:0px;
  background-image:none;
  background-color:transparent;
}

.btn.btn-default:hover {
  background:#fff;
  color:#1e1e1e;
}


.car {
	width: 110%;
	position: absolute;
	left: -10%;
	top: 25%;
	/*visibility: hidden;*/
}


	
.jumbotron hr {
  margin:0px;
  margin-top:10px;
  margin-bottom:10px;
}

body {
  font-family:"Helvetica Neue", Helvetica, 'Roboto', Arial, "Lucida Grande", sans-serif, sans-serif;
  font-size:14px;
  line-height:1.5;
  text-rendering:optimizeLegibility !important;
  -moz-osx-font-smoothing:grayscale !important;
  -webkit-font-smoothing:antialiased !important;
}

hr {
  border-top:1px solid #aeaeae;
}

.muted {
  opacity:0.6;
}

.align-bottom {
  float:none;
  display:table-cell;
  vertical-align:bottom;
}

.align-center {
  text-align:center;
}

.align-left {
  text-align:left;
}

.align-right {
  text-align:right;
}

h1, .jumbotron h1 {
  font-size:44px;
  font-weight:500;
  letter-spacing:-.5px;
  margin:0px;
  font-style:italic;
  font-weight: bold;
  padding: 10px 0px;
}

.jumbotron {
  padding:0px;
  margin-bottom:0px;
  background-color:#fff;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h6 {
  color:#fff;
}

.jumbotron p {
  margin:0px;
  font-weight:400;
  font-size:14px;
  color:#eee;
}

h2 {
  margin:0px;
  font-size:36px;
  font-weight:500;
  letter-spacing: .1em;
  font-style: italic;
  font-weight:bold;
}

h3 {
  font-size:24px;
  margin:0px;
  font-weight:400;
}

h4 {
  margin:0;
  font-weight:400;
  font-size:16px;
}

h6 {
  margin:0;
  font-weight:400;
  font-size:12px;
  letter-spacing:2px;
  text-transform:uppercase;
  opacity:0.5;
  padding: 10px 0px;
  font-style: italic;
}
.byline {
	padding: 10px 0px;
	font-style:italic;
	font-size: 16px;
	font-weight: bold;
	color:#000;
}

.testimonial-img {
	width: 290px;
	height: 290px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
.testimonial-txt {
	text-align: center;
	vertical-align: center;
	width: 290px;
	height: 290px;
	overflow: hidden;
	margin: 0px;
	padding: 20px;
	font-size: 14px;
	color:#666;
}

.mb-s {
	margin-bottom: 20px;
}
.mb-m {
	margin-bottom: 40px;
}
.mb-l {
	margin-bottom: 60px;
}
.mt-s {
	margin-top: 20px;
}
.mt-m {
	margin-top: 40px;
}
.mt-l {
	margin-top: 60px;
}
.mt-xl {
	margin-top: 120px;
}

.panel-main {
	height: 600px;
	margin: 0;
	padding: 0;
}
.panel-top {
	height: 350px;
}
.panel-bottom {
	height: 200px;
}

.panel-bottom P {
	padding: 150px 30px 20px 30px;
}
.facility H1 {
	margin-top: 100px;
}
.facility H6 {
	/*margin-bottom: 350px;*/
	margin-bottom: 433px;
}
.group-shot {
	height: 500px;
	background-image: url('../images/group.jpg');
	background-position: center center;
}

.mobile-space {
	visibility: hidden;
}

.start {
	height: 300px;
	color: #FFF;
	background-color: #333;
	background-image:url("../images/panel-1.png");
	background-position: center top;
	text-align: center;
	padding-top: 20px;
}

.racing {
	height: 300px;
	color: #FFF;
	margin-top: 30px;
	background-color: #333;
	background-image:url("../images/panel-2.png");
	background-position: center top;
	text-align: center;
	padding-top: 20px;
}

.finish {
	height: 150px;
	color: #FFF;
	margin-top: 200px;
	background-color: #999;
	background-image:url("../images/panel-3.png");
	background-position: center top;
	text-align: center;
	padding-top: 20px;
}	
.racetrack {
	background-image:url('../images/facilities.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}
.cartrack {
	background-image: url('../images/cartrack.jpg');
	height: 625px;
	text-align:center;
	padding-top:140px;	
	background-position: center center;
}



/* Form Styles */

.form-style-4{
	width: 100%;
	font-size: 12px;
	margin-top: 10px;
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
	font-size: 12px;
	color: #fff;

}
.form-style-4 label {
	display:block;
	margin-bottom: 10px;
}
.form-style-4 label > span{
	display: inline-block;
	float: left;
	text-align: right;
	padding-right: 30px;
	width: 30%;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email] 
{
	background: transparent;
	border: none;
	border-bottom: 1px solid #666666;
	width: 60%;
	outline: none;
	padding: 0px 0px 0px 0px;
}
.form-style-4 textarea{
	font-style: italic;
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px dashed #333333;
	width: 275px;
	overflow: hidden;
	resize:none;
	height:20px;
}

.form-style-4 textarea:focus, 
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
	border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
	background: #990000;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #DDDDDD;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #330000;
}












@media only screen and (max-width: 768px) {
  /* For small screens: */
	.car {
		visibility: hidden;
	}
	.panel-main {
		height: 250px;
		margin: 0;
		padding: 0;
	}
	.panel-top {
		height: 150px;
		margin: 0;
		padding: 0;
	}
	.panel-bottom {
		height: 100px;
		margin: 0;
		padding: 0;
	}
	.panel-bottom P {
		padding: 25px 10px 10px 10px;
	}

	.facility H1 {
		margin-top: 50px;
	}
	.facility H6 {
		margin-bottom: 150px;
	}
	.group-shot {
		height: 500px;
	}
	.mobile-space {
		height: 200px;
		widows: 100%;
	}
	.start {
		height: 300px;
		color: #FFF;
		background-color: #333;
		background-image:url("../images/panel-1.png");
		background-position: center top;
		text-align: center;
		padding-top: 20px;
	}

	.racing {
		height: 400px;
		color: #FFF;
		background-color: #333;
		background-image:url("../images/panel-2.png");
		background-position: center top;
		text-align: center;
		padding-top: 20px;
	}

	.finish {
		height: 150px;
		color: #FFF;
		background-color: #333;
		background-image:url("../images/panel-3.png");
		background-position: center top;
		text-align: center;
		padding-top: 20px;
	}
	.mt-xl {
		margin-top: 30px;
	}
	.mt-m {
		margin-top: 10px;
	}
	.racetrack {
		background-image:url('../images/facilities-sm.jpg');
		background-repeat: no-repeat;
		background-position: center center;
	}
	.group-shot {
		height: 250px;
		background-image: url('../images/group-sm.jpg');
		background-position: center top;
		background-repeat: no-repeat;
	}

	.cartrack {
		background-image: url('../images/cartrack-sm.jpg');
		height: 300px;
		width: 100%;
		text-align:center;
		padding-top:50px;
		background-position: center center;
	}


}
